@import url("https://fonts.cdnfonts.com/css/gotham");

/* Spotify color palette */
:root{
  --sidebar-background: #191419;
  --sidebar-color: #ffffff;
  --brand-color--primary: #1DB954;
}

html, body{ font-family: "Gotham", sans-serif }

.container { display: flex }

.container_section{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(120deg, #339933, #191419);
  padding: 1.3rem 0 7rem 15rem;
}

.container_section_arrow {
  color: #e4e4e4;
  background: rgba(0, 0, 0, 0.274);
  border-radius: 50%;
  padding: 0.4rem 0.6rem;
  margin: 0.3rem;
}

.container_sidebar{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  gap: 3rem;
  padding: 0 5rem 0 1.5rem;
  color: var(--sidebar-color);
  background-color: var(--sidebar-background);
}

.container_sidebar_brand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: bold;
}

.sidebar_brand{ width: 2rem }

.sidebar_navbar_link{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-transform: capitalize;
}

.sidebar_navbar_links{
  display: flex;
  flex-direction: column;
  gap: 1.3;
}
