@import url("https://fonts.cdnfonts.com/css/gotham");

/* Spotify color palette */
:root{
  --sidebar-background: #191419;
  --sidebar-color: #ffffff;
  --brand-color--primary: #1DB954;
}

html, body{ font-family: "Gotham", sans-serif }

.container { display: flex }

.container_sidebar{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  gap: 3rem;
  padding: 0 5rem 0 1.5rem;
  color: var(--sidebar-color);
  background-color: var(--sidebar-background);
}

